table {
  width: 100%;
  border-collapse: collapse;
}

th {
  position: sticky;
  top: -1px; /* Cố định ở đầu bảng */
  background-color: #7b7c7c; /* Màu nền tiêu đề */
  z-index: 2; /* Đảm bảo th luôn nằm trên các nội dung khác */
  text-align: center;
  border: 1px solid #ddd; /* Viền bảng */
}

td {
  border: 1px solid #ddd; /* Viền bảng */
  text-align: center;
  padding: 8px;
}

.sort-btn {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
}

.sort-btn:hover {
  text-decoration: underline;
}

iconify-icon {
  color: white;
}

/* Tùy chỉnh kích thước từng cột */
th:nth-child(1) {
  width: 5%;
} /* STT */
th:nth-child(2) {
  width: 5%;
} /* Tên công ty */
th:nth-child(3) {
  width: 15%;
} /* Địa chỉ */
th:nth-child(4) {
  width: 10%;
} /* Vùng/ miền */
th:nth-child(5) {
  width: 40%;
} /* Nhược điểm */
th:nth-child(6) {
  width: 10%;
} /* Khuyên bảo */
th:nth-child(7) {
  width: 10%;
} /* Ưu điểm */
